*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-feedbacklist{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
