*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.pagenotfound-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: black;
    color: white;
    width: 100%;
}