*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.mainpage-container{
    height: 100%;
    width: 100%;
    display: flex;
    background-color: black;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}