*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.heading-admin-top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 10px;
}
.data-panel {
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    width: 15rem !important;
    height: 15rem;
    padding: 5px;
    margin: 10px;
    box-shadow: 0 0 10px;
}
button.post-btn {
    height: 3rem;
    color: white;
    border: none;
    border-radius: 5px;
    background: black;
    width: 11.5rem;
}
button.post-btn:hover{
    color: white;
    opacity: 0.75;
}
.modal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    transform: translate(85%, 5%);
    background: black;
    border-radius: 5px;
    width: 30rem;
    z-index: 10000;
    height: 33rem;
    pointer-events: all !important;
}
.clear-btn {
    width: 100%;
    padding: 2px;
    align-items: center;
    justify-content: end;
    display: flex;
    color: white;
}
.form-main-container {
    height: 90%;
    border-radius: 5px;
    width: 90%;
    background: #fff;
}
.backdropclass{
    backface-visibility: hidden;
    background-color: rgba(92, 83, 83, 0.5);
    height: 100vh;
    width: 100%;
    pointer-events: none;
    z-index: 100;
}