*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
h1.main-heading {
    width: 100%;
    display: flex;
    padding: 5px;
    padding-right: 20px;
    margin-bottom: 0;
    font-size: 30px;
    justify-content: end;
    align-items: center;
}
.inner-wrapper-dashboard{
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}
.sidebar {
    width: 20%;
    margin-top: 5px;
    margin-right: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.main-dashboard{
    width: 58%;
    height: 100%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button {
    border-radius: 10px;
    margin: 0 10px;
    border: none;
    padding: 5px;
}
.btn-0{
    background-color:rgb(91, 178, 225);
}
.btn-0:hover{
    box-shadow: 0 0 10px rgb(91, 178, 225);
}
.btn-1{
    background-color:rgb(35, 227, 35);
}
.btn-1:hover{
    box-shadow: 0 0 10px rgb(35, 227, 35);
}
.btn-2{
    background-color: rgb(192, 189, 189);
}
.btn-2:hover{
    box-shadow: 0 0 10px rgb(192, 189, 189);
}
.btn-3{
    background-color: rgb(245, 8, 8);
}
.btn-3:hover{
    box-shadow: 0 0 10px rgb(245, 8, 8);
}
.profile-section {
    width: 100%;
    height: 300px;
    /* background-color: antiquewhite; */
    display: flex;
    border-radius: 5px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.profile-name {
    width: 60%;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
    padding: 5px;
    margin-bottom: 0 !important;
    justify-content: center;
    display: flex;
    align-items: center;
}
.left-pane {
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    height: inherit;
    width: 45%;
}
.right-pane {
    padding: 5px;
    display: flex;
    align-items: center;
    margin-right: 25px;
    justify-content: center;
    flex-direction: row;
    height: inherit;
    width: 40%;
    pointer-events: none !important;
}
.profile-pic {
    /* background: grey; */
    height: 11rem;
    width: 11rem;
    border-radius: 50%;
}
.profile-circle{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
.rating-vals {
    line-height: 0.75em;
    margin-top: 1.5em;
    margin-right: 1.5em;
}
.side-cards {
    padding: 5px;
    padding-top: 0px;
    width: 20%;
    display: flex;
    flex-direction: column;
}
.card {
    margin-bottom: 10px;
}
.main{
    height: 10rem !important;
}
.card-text{
    font-size: 65px;
}
ul.list-parent {
    width: 100%;
    text-align: center;
    padding: 10px;
    line-height: 3.5em;
    list-style: none;
    color: white;
    font-weight: 500;
    font-size: 20px;
}
li.list-item {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 100%;
}
li.list-item:hover, li.list-item:visited {
    color: black;
}
button.btn-black {
    color: white;
    width: 80%;
    margin: 10px;
    padding: 5px;
    background: black;
}
button.btn-black:hover{
    color: black;
    background-color: white;
}
li span:first-of-type {
    transform: scale(1.5);
}
li span:last-of-type {
    padding: 5px;
    margin-left: 10px;
    margin-top: 10px;
}

/* Settings Section */
.settings {
    height: inherit;
    margin-top: 5px;
    border-radius: 5px;
    padding: 5px;
    justify-content: flex-start;
    align-items: start;
    background: #0f0d0d;
}
h1.heading-settings {
    padding: 10px;
    color: #ffff;
}

/* Reviews Section */
.reviews {
    height: inherit;
    margin-top: 5px;
    border-radius: 5px;
    padding: 5px;
    justify-content: flex-start;
    align-items: start;
    background: #e1e1e5;
}
.reviews-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 5px;
    border-radius: 5px;
    background: #9ec5c5;
    margin: 5px auto;
}
.reviews-list-top, .reviews-list-bottom {
    width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 5px;
}
.list-top-right:hover{
    color: red;
}

.switch {
    color: #fff;
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  .available-main {
    background: rgb(178, 225, 187);
    color: black;
    margin-bottom: 5px;
    border-radius: 5px;
    margin-top: 5px;
  }
  .available-top {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.available-bottom {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 5px;
}
button.btn.btn-attempt.btn.btn-primary {
    color: black;
    background: aquamarine;
}
button.btn.btn-attempt.btn.btn-primary:hover{
    color: white;
    background-color: aqua;
}
.tab-content > .active {
    display: block;
    background: white;
}
div#myTabContent {
    height: 20rem;
    overflow-y: scroll;
}
.downtab-list {
    color: black;
    display: flex;
    padding: 5px;
    background: #e9e9b7;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    justify-content: space-between;
}
.expired{
    background-color: rgb(188, 62, 62);
}