*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-container{
    background-image: url('./img/login_main.jpg');
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner-container{
    display: flex;
    width: 600px;
    height: 420px;
    background-color: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 5px;
    flex-direction: row;
}
.left-side{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    height: 100%;
    width: 50%;
}
.left-side .carousel{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right-side{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #000;
    color: #fff;
    height: 100%;
    width: 50%;
}
.right-side .form{
    color: #fff;
}
button.blackbtn {
    color: #000;
    margin: 10px;
    padding: 5px;
    background: #fff;
}
button.blackbtn:hover{
    color: #fff;
    background-color: #2d2b2b;
}
.active{
    color: #fff;
    background-color: #2d2b2b;
}
h3.topheading{
    padding: 5px;
}
.carousel .carousel-indicators{
    display: none !important;
}
.carousel .carousel-control-next{
    display: none !important;
}
.carousel .carousel-control-prev{
    display: none !important;
}
button.btn-submit {
    width: 90%;
    padding: 5px;
    color: white;
    background: #4e4b4b;
}
button.btn-submit:hover{
    color: #000;
    background-color: #ffffff;
}